In [1]:
import pandas as pd

ft_basic = pd.read_pickle("./data/ft_basic.pkl")
ft_basic

,id,code,code_adj,asset_en,asset_cn,contract_yr_mth,exchange,ipo_date,lasttrade_date,lastdelivery_date,...,trading_seg1_bgn,trading_seg1_end,trading_seg2_bgn,trading_seg2_end,trading_seg3_bgn,trading_seg3_end,trading_seg4_bgn,trading_seg4_end,trading_seg5_bgn,trading_seg5_end
0,3,AL9505.SHF,AL9505,AL,沪铝,9505,SHF,19950417,19950515,19950522,...,2100,2400,0,100,900.0,1015.0,1030.0,1130.0,1330.0,1500.0
1,4,AL9506.SHF,AL9506,AL,沪铝,9506,SHF,19950417,19950615,19950622,...,2100,2400,0,100,900.0,1015.0,1030.0,1130.0,1330.0,1500.0
2,5,AL9507.SHF,AL9507,AL,沪铝,9507,SHF,19950417,19950717,19950724,...,2100,2400,0,100,900.0,1015.0,1030.0,1130.0,1330.0,1500.0
3,6,AL9508.SHF,AL9508,AL,沪铝,9508,SHF,19950417,19950815,19950822,...,2100,2400,0,100,900.0,1015.0,1030.0,1130.0,1330.0,1500.0
4,7,CU9505.SHF,CU9505,CU,沪铜,9505,SHF,19950417,19950515,19950522,...,2100,2400,0,100,900.0,1015.0,1030.0,1130.0,1330.0,1500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6369,7259,SC2201.INE,SC2201,SC,原油,2201,INE,20201225,20211231,20220110,...,2100,2400,0,230,900.0,1015.0,1030.0,1130.0,1330.0,1500.0
6370,7260,EB2112.DCE,EB2112,EB,苯乙烯,2112,DCE,20201229,20211228,20211231,...,2100,2300,900,1015,1030.0,1130.0,1330.0,1500.0,NaN,NaN
6371,7261,EG2112.DCE,EG2112,EG,乙二醇,2112,DCE,20201229,20211228,20211231,...,2100,2300,900,1015,1030.0,1130.0,1330.0,1500.0,NaN,NaN
6372,7262,JD2112.DCE,JD2112,JD,鸡蛋,2112,DCE,20201229,20211228,20211231,...,900,1015,1030,1130,1330.0,1500.0,NaN,NaN,NaN,NaN
6373,7263,PG2112.DCE,PG2112,PG,LPG,2112,DCE,20201229,20211228,20211231,...,2100,2300,900,1015,1030.0,1130.0,1330.0,1500.0,NaN,NaN

In [2]:
hermes_daily_main = pd.read_pickle("./data/hermes_daily_main.pkl")
hermes_daily_main

,bar_date,ticker_symbol,exchange_cd,sec_short_name,contract_object,contract_mark,pre_settl_price,pre_close_price,open_price,highest_price,...,chg1,chg_pct,maincon,smaincon,last_trade_date,yymm,ticker_yymm,yymm_adj,obs,use
0,2000-07-17,m0105,XDCE,连豆粕0105,M,L3,2050.0,NaN,2160.0,2160.0,...,46.0,-0.026341,0.0,0.0,2001-05-21,105.0,105.0,105.0,105.0,105.0
1,2000-07-18,m0105,XDCE,连豆粕0105,M,L3,2096.0,1996.0,2013.0,2146.0,...,-40.0,-0.027672,0.0,0.0,2001-05-21,105.0,105.0,105.0,105.0,105.0
2,2000-07-19,m0105,XDCE,连豆粕0105,M,L3,2056.0,2038.0,2040.0,2040.0,...,-32.0,-0.021401,0.0,0.0,2001-05-21,105.0,105.0,105.0,105.0,105.0
3,2000-07-20,m0105,XDCE,连豆粕0105,M,L3,2024.0,2012.0,2021.0,2026.0,...,-8.0,-0.003953,0.0,0.0,2001-05-21,105.0,105.0,105.0,105.0,105.0
4,2000-07-21,m0105,XDCE,连豆粕0105,M,L3,2016.0,2016.0,1990.0,1998.0,...,-29.0,-0.022817,0.0,0.0,2001-05-21,105.0,105.0,105.0,105.0,105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153688,2022-01-25,PK204,XZCE,郑花生204,PK,L1,8004.0,7984.0,7950.0,7998.0,...,-76.0,-0.015492,0.0,0.0,2022-04-18,2204.0,2204.0,2204.0,2204.0,2204.0
153689,2022-01-26,PK204,XZCE,郑花生204,PK,L1,7928.0,7880.0,7880.0,7924.0,...,-26.0,-0.003280,0.0,0.0,2022-04-18,2204.0,2204.0,2204.0,2204.0,2204.0
153690,2022-01-27,PK204,XZCE,郑花生204,PK,L1,7902.0,7902.0,7938.0,8006.0,...,62.0,0.006834,0.0,0.0,2022-04-18,2204.0,2204.0,2204.0,2204.0,2204.0
153691,2022-01-28,PK204,XZCE,郑花生204,PK,L1,7964.0,7956.0,8002.0,8032.0,...,34.0,0.006529,0.0,0.0,2022-04-18,2204.0,2204.0,2204.0,2204.0,2204.0
153692,2022-02-07,PK204,XZCE,郑花生204,PK,L1,7998.0,8016.0,8088.0,8220.0,...,144.0,0.021005,0.0,0.0,2022-04-18,2204.0,2204.0,2204.0,2204.0,2204.0

In [3]:
min_main_from_mat = pd.read_pickle("./data/min_main_from_mat.pkl")
min_main_from_mat

,asset_en,datetime,bar_date,open,high,low,close,volume,amt,oi,used_yymm
0,AL,201510080900,20151008,11680.0,11690.0,11650.0,11670.0,1218.0,71098750.0,151270.0,1512
1,AL,201510080901,20151008,11665.0,11675.0,11660.0,11660.0,502.0,29285300.0,151020.0,1512
2,AL,201510080902,20151008,11660.0,11665.0,11655.0,11655.0,334.0,19471750.0,151112.0,1512
3,AL,201510080903,20151008,11655.0,11660.0,11650.0,11650.0,274.0,15965350.0,151192.0,1512
4,AL,201510080904,20151008,11650.0,11650.0,11635.0,11635.0,110.0,6401850.0,151228.0,1512
...,...,...,...,...,...,...,...,...,...,...,...
19125212,BC,202012301455,20201230,52120.0,52120.0,52100.0,52110.0,17.0,4429800.0,10324.0,2103
19125213,BC,202012301456,20201230,52110.0,52110.0,52110.0,52110.0,1.0,260550.0,10324.0,2103
19125214,BC,202012301457,20201230,52100.0,52100.0,52080.0,52090.0,21.0,5469900.0,10328.0,2103
19125215,BC,202012301458,20201230,52090.0,52100.0,52080.0,52100.0,6.0,1562750.0,10328.0,2103
19125216,BC,202012301459,20201230,52100.0,52110.0,52070.0,52110.0,33.0,8595000.0,10320.0,2103